{% extends 'layout.html'%}


{% block header %}

<header>
   <!-- header inner -->
   <div class="header">
      <div class="container-fluid">
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo">
                        <a href="{% url 'index' %}"><img src="media/images/logo.png" alt="#" /></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
               <nav class="navigation navbar navbar-expand-md navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsExample04">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                           <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'glasses' %}">Our Glasses</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                        </li>
                        <li class="nav-item d_none login_btn">
                           <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item d_none">
                           <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item d_none sea_icon">
                           <a class="nav-link" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i><i class="fa fa-search" aria-hidden="true"></i></a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
      </div>
   </div>
</header>

{% endblock %}

{% block content %}

<!-- Our shop section -->
<div id="about" class="shop">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-5">
            <div  class="shop_img">
               <figure><img src="media/images/shop_img.png" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-7 padding_right0">
            <div class="max_width">
               <div class="titlepage">
                  <h2>Best SunGlasses  At Our shop</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                  <a class="read_more" href="#">Shop Now</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end Our shop section -->
<!--  footer -->

<!-- end footer -->


{% endblock %}